/* Stili per il layout generale */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Stili per il titolo */
.title {
    text-align: center;
}

/* Stili per i filtri */
.filters {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.filters label {
    margin-right: 10px;
}

/* Stili per il filtro di sesso */
#sex-filter {
    padding: 5px;
}

/* Stili per il contenitore dei prodotti */
.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    overflow-y: auto; /* Aggiungi la proprietà overflow-y con il valore auto */
    max-height: calc(100vh - 200px); /* Imposta l'altezza massima del container in base all'altezza della viewport */
}

/* Stili per la barra verticale */
.product-container::-webkit-scrollbar {
    width: 10px;
}

.product-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.product-container::-webkit-scrollbar-thumb {
    background: #888;
}

.product-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.product-card {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
}

.product-brand {
    font-weight: bold;
}

.product-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}

.product-price {
    margin-top: 10px;
}

.product-buttons {
    margin-top: 20px;
}

/* Stili per il link "Aggiungi al carrello" */
.product-buttons .add-to-cart {
    display: inline-block;
    padding: 8px 12px;
    background-color: #4caf50;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
}

.product-buttons .add-to-cart:hover {
    background-color: #45a049;
}

/* Stili per il link "Compra ora" */
.product-buttons .buy-now {
    display: inline-block;
    padding: 8px 12px;
    background-color: #2196f3;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
}

.product-buttons .buy-now:hover {
    background-color: #1e87db;
}

/* Stili per il footer */
footer {
    text-align: center;
    padding: 20px;
}
