@charset "UTF-8";

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
}

.logo img {
    height: 60px;
    width: auto;
}

.links a {
    color: #333;
    margin-left: 10px;
    text-decoration: none;
    transition: color 0.3s;
}

.links a:hover {
    color: blue;
}

@media only screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 20px; /* Aggiunta la modifica per aumentare il padding sui lati */
    }

    .logo img {
        height: 40px; /* Ridimensionamento dell'altezza del logo per adattarsi a schermi più piccoli */
    }

    .search {
        margin: 10px 0;
    }

    .search input,
    .search button {
        width: 100%;
        max-width: none;
    }

    .links {
        margin-top: 10px;
    }

    .links a {
        display: block;
        margin-top: 5px;
        margin-left: 0; /* Rimozione del margine a sinistra per adattarsi al layout della colonna */
    }
}
