.carrello-table {
    border: 2px solid blue;
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
}

th {
    background-color: #f2f2f2;
    font-weight: bold; 
    padding: 10px;
}

td {
    padding: 10px;
}

.col-quantita form {
    display: flex;
    align-items: center;
}

.col-quantita form button {
    font-size: 14px;
    padding: 5px 10px;
    margin: 0 5px;
}

#totalPrice {
    font-weight: bold;
    margin-left: 20px;
}
