@charset "UTF-8";

footer {
    background-color: #333;
    color: #fff;
    padding: 2%;
    text-align: center;
}

.footer-content {
    margin-bottom: 2%;
}

.social-media a {
    display: inline-block;
    margin-right: 2%;
}

.social-media img {
    width: 3%;
    height: auto;
}

/* Media query per schermi di larghezza massima 768px */
@media (max-width: 768px) {
    footer {
        padding: 5%;
    }

    .footer-content {
        margin-bottom: 5%;
    }

    .social-media a {
        margin-right: 3%;
    }

    .social-media img {
        width: 5%;
    }
}
